<%-include("header.ejs")%>

<!--TODO: Replace characterIMG class with base class in styles.css for everything-->
<the-data>
    
    <%let imgURL = locals.data.img%>
    <%let photoCredit = false;%>

    <%if(locals.data.img === "unknown"){%>
        <%imgURL= "/assets/images/question_mark.jpg";%>
        <b></b>
        <%photoCredit = true;%> 
    <%}%>

    
    <%if(locals.data.name === "Lima" || locals.data.name === "Muller"|| 
    locals.data.name === "Alois Tybur" || locals.data.name === "Bruno Tybur" 
    || locals.data.name === "Rico Tybur" || locals.data.name === "Marie Dawk"){%>
        <b></b>
        <%imgURL="/assets/images/question_mark.jpg"%>
        <%photoCredit = true;%> 
    <%}%>

    <%if(locals.data.name === "Florian Reiss"){%>
        <b></b>
        <%imgURL = imgURL.replace("revision/latest?cb=", "")%>
        <%imgURL = imgURL.slice(0, imgURL.length-15);%>
    <%}%>


    <%if(locals.data.img && locals.data.name !== "Florian Reiss" && locals.data.name !== "Muller" 
    && locals.data.name !== "Hizuru" && locals.data.name !== "Industrial City" 
    && locals.data.name !== "Jinae" && locals.data.name !== "Karifa" 
    && locals.data.name !== "Krolva District" && locals.data.name !== "Lakua" && locals.data.name !== "Reeves Company"
    && locals.data.name !== "Titan Biology Research Society"){%>
        <b></b>
        <%imgURL = imgURL.replace("revision/latest/scale-to-width-down/350?cb=", "")%>
        <%imgURL = imgURL.slice(0, imgURL.length-15);%>
    <%}%>

    <div class="data-image-flex-container">
        <div>
            <img class="data-image" src="<%=imgURL%>" alt ="<%=locals.data.name%>"/>
        </div>
        <%if(photoCredit){%>
        <div>
            <p class="data-photo-credit">Photo by <a href="https://unsplash.com/@simonesecci?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Simone Secci</a> 
                on <a href="https://unsplash.com/photos/red-letters-neon-light-49uySSA678U?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </p>
        </div>
        <%}%>
    </div>  

   
    <ul class="database-information">
        <li>
            <h2 class="data-category">Name:</h2> 
            <p><%=locals.data.name%></p>
        </li>

        <%if(locals.data.age){%>
            <li>
                <h2 class="data-category">Age: </h2>
                <p><%=locals.data.age%></p>
            </li>
        <%}%>
        <%if(locals.data.birthplace){%>
            <li>
                <h2 class="data-category">Birthplace:</h2>
                <p><%=locals.data.birthplace%></p>
            </li>
        <%}%>

        <%if(locals.data.height){%>
            <li>
                <h2 class="data-category">Height:</h2>
                <p><%=locals.data.height%></p>
            </li>
            <%}%>

        <%if(locals.data.gender){%>
            <li>
                <h2 class="data-category">Gender: </h2>
                <p><%=locals.data.gender%></p>
            </li>
        <%}%>

        <%if(locals.data.alias){%>
        <li>
            <h2 class="data-category">Alias:</h2> 
            <ul>
                <%for(let x = 0; x < locals.data.alias.length; x++){%>
                <li><p><%=locals.data.alias[x]%></p></li> 
                <%}%>
                <%if(locals.data.alias.length === 0){%>
                    <li><p>No known aliases</p></li>
                    <%}%>
            </ul>
        </li>
        <%}%>

        <%if(locals.data.species){%>
            <li>
                <h2 class="data-category">Species:</h2> 
                <ul>
                    <%for(let x = 0; x < locals.data.species.length; x++){%>
                        <li><p><%=locals.data.species[x]%></p></li> 
                        <%}%>
                </ul>
            </li>
        <%}%>

        <%if(locals.data.groups){%>
            <li>
                <h2 class="data-category">Groups: </h2> 
                <ul>
                    <%for(let x = 0; x < locals.data.groups.length; x++){%>
                        <li><p><%=locals.data.groups[x].name%></p></li> 
                        <ul>Sub-Groups: 
                            <li><%=locals.data.groups[x].sub_groups%></li>
                        </ul>
                    <%}%>    
                    <%if(locals.data.groups.length === 0){%>
                            <li><p>No known groups of note</p></li>
                    <%}%>
        
                </ul>
            </li>
        <%}%>


        <%if(locals.data.roles){%>
            <li>
                <h2 class="data-category">Roles: </h2> 
                <ul>
                    <%for(let x = 0; x < locals.data.roles.length; x++){%>
                        <li><p><%=locals.data.roles[x]%></p></li> 
                        <%}%>
                        <%if(locals.data.roles.length === 0){%>
                            <li><p>unknown</p></li>
                            <%}%>
                </ul>
            </li>
        <%}%>



        <%if(locals.data.territory){%>
            <li>
                <h2 class="data-category">Territory:</h2>
                <p><%=locals.data.territory%></p>
            </li>
        <%}%>


        <%if(locals.data.region){%>
            <li>
                <h2 class="data-category">Region:</h2>
                <p><%=locals.data.region%></p>
            </li>
        <%}%>

        <%if(locals.data.occupations){%>
        <div class="main-data-item-flex-container">
            <li>
                <div>
                    <h2 class="data-category">Occupations: </h2> 
                </div>
                <div>
                    <ul>
                        <%for(let x = 0; x < locals.data.occupations.length; x++){%>
                            <li><p><%=locals.data.occupations[x]%></p></li> 
                            <%}%>
                            <%if(locals.data.occupations.length === 0){%>
                                <li><p>Specific Occupations Not Known</p></li>
                                <%}%>
                    </ul>
                </div>
            </li>
        </div>
        <%}%>

        <%if(locals.data.notable_inhabitants){%>
            <div class="main-data-item-flex-container">
            <li>
                <div>
                <h2 class="data-category">Notable Inhabitants: </h2> 
                </div>
                
                <div>
                    <ul>
                        <form action="/character-database" method="POST">  
                        <%for(let x = 0; x < locals.data.notable_inhabitants.length; x++){%>
                            <%if(/\d/.test(locals.data.notable_inhabitants[x])){%>
                                <%var id = locals.data.notable_inhabitants[x].replace(/\D/g, '')%>
                                <li><button class="data-button notable-inhabitants" type="submit" name="id" value="<%=id%>"><%=locals.notable_inhabitants[x]%></button></li>
                            <%}%>
                            <%if(!/\d/.test(locals.data.notable_inhabitants[x])){%>
                                <li class=" notable-inhabitants"><%=locals.data.notable_inhabitants[x]%></li>
                                <%}%> 
                        <%}%>
                            </form>
                            <%if(locals.data.notable_inhabitants.length === 0){%>
                                <li class="notable-inhabitants"><p>No notable inhabitants</p></li>
                            <%}%>
                    </ul></div>
            </li>
        </div>
        <%}%>

        <%if(locals.data.affiliation){%>
            <li>
                <h2 class="data-category">Affiliation:</h2>
                <p><%=locals.data.affiliation%></p>
            </li>
        <%}%>
        <%if(locals.data.abilities){%>
            <li>
                <div class="main-data-item-flex-container">
                    <div>
                        <h2 class="data-category">Abilities: </h2> 
                    </div>
                    <ul>
                        <div>
                            <%for(let x = 0; x < locals.data.abilities.length; x++){%>
                                <li><p><%=locals.data.abilities[x]%></p></li> 
                                <%}%>
                                <%if(locals.data.abilities.length === 0){%>
                                    <li><p>No threatening abilities of note</p></li>
                                <%}%>
                        </div>
                    </ul>
                </div>
            </li>
        <%}%>


        <%if(locals.data.current_inheritor){%>
            <li>
                <div class="main-data-item-flex-container">
                    <div>
                        <h2 class="data-category">Current Inheritor:</h2>
                    </div>
                    <form action="/character-database" method="POST">
                        <%var id = locals.data.current_inheritor.replace(/\D/g, '') %>
                        <button class="data-button current-inheritor" type="submit" name="id" value="<%=id%>"><p><%=locals.current_inheritor%></p></button>
                    </form>
                </div>
            </li>
        <%}%>

        <%if(locals.data.former_inheritors){%>
            <li>
                <div class="main-data-item-flex-container">
                    <div>
                        <h2 class="data-category">Former Inheritors: </h2> 
                    </div>
                    <ul>
                        <form action="/character-database" id="current-inheritor-form" method="POST">
                        <div>
                            <%for(let x = 0; x < locals.former_inheritors.length; x++){%>
                                <%var id = locals.data.former_inheritors[x].replace(/\D/g, '') %>
                                <li><button class="data-button former-inheritor" type="submit" name="id" value="<%=id%>"><p><%=locals.former_inheritors[x]%></button></li> 
                                <%}%>
                                </form>
                            <%if(locals.former_inheritors.length === 0){%>
                                <li><p>Former inheritors not known</p></li>
                            <%}%>
                        </div>
                    </ul>
                </div>
            </li>
        <%}%>

        <%if(locals.data.notable_members){%>
            <li>
            <div class="main-data-item-flex-container">
                <div>
                    <h2 class="data-category">Notable Members: </h2> 
                </div>
                <ul>
                    <form action="/character-database" method="POST">  
                <div>
                    <%for(let x = 0; x < locals.data.notable_members.length; x++){%>
                        <%if(/\d/.test(locals.data.notable_members[x])){%>
                            <%var id = locals.data.notable_members[x].replace(/\D/g, '')%>
                            <li><button class="data-button notable-inhabitants" type="submit" name="id" value="<%=id%>"><%=locals.notable_members[x]%></button></li>
                        <%}%>
                        <%if(!/\d/.test(locals.data.notable_members[x])){%>
                            <li class="notable-inhabitants"><%=locals.data.notable_members[x]%></li>
                            <%}%> 
                    <%}%>
                        </form>
                        <%if(locals.data.notable_members.length === 0){%>
                            <li class="notable-inhabitants"><p>No notable inhabitants</p></li>
                        <%}%>
                </div>
                </ul>
            </div>
            </li>
        <%}%>


        
    </ul>

</the-data>





<%-include("footer.ejs")%>