<%-include("header.ejs")%>

<form action="/titan-database" method="POST">
    <the-titans>
        <%for(let x = 0; x < locals.titanList.length; x++){%>
            <button class="data-button" name="id" type="submit" value="<%=locals.titanList[x].id%>">  <div class="titans">
                <p class="titan-name"><%=locals.titanList[x].name%></p>
                <%let imgURL = locals.titanList[x].img;%>
                <b></b>
                <%imgURL = imgURL.replace("revision/latest/scale-to-width-down/350?cb=", "")%>
                <%imgURL = imgURL.slice(0, imgURL.length-15);%>
                <img class="titanIMG" src="<%=imgURL%>" alt="<%=locals.titanList[x].name%>"/>
            </div></button>
            <%}%>
    </the-titans>
</form>
<%-include("footer.ejs")%>